<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
</head>
<body>
    <div id="app">
        <h3>Masukkan Nama Guru</h3>
        <form v-on:sumbit.prevent>
            <input type="text" name="namaSiswa" id="namaSiswa" @keyup.enter="sumbit" v-model="guru">
            <button type="button" @click="simpan">Simpan</button>
        </form>
        <br> <br>

        <table border="1" style="border-collapse: collapse" v-if="dataGuru.length > 0">
            <tr>
                <thead>
                    <th style="width: 30px">#</th>
                    <th style="width: 200px">Nama Guru</th>
                </thead>
            </tr>
            <tr>
                <tbody v-for="(guru, index) in dataGuru" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{guru}}</td>
                </tbody>
            </tr>
        </table>
        <h4 v-else>Tidak Ada</h4>
    </div>

    <script src="app.js"></script>
</body>
</html>

<script>
var app =  new Vue({
    el : '#app',
    methods: {
        pesan: function() {
            alert("Selamat belajar Vue.js")
        },
        simpan: function(){
            this.dataGuru.push(this.guru);
            this.guru = "";
        }
    },
    data: {
        'dataGuru' : [
            {'nama' : 'Arya', 'kelas' : 'XRPL1'},
            {'nama' : 'Bella', 'kelas' : 'XRPL2'},
            {'nama' : 'Cintya', 'kelas' : 'XIRPL1'},
            {'nama' : 'Doni', 'kelas' : 'XIRPL2'},
            {'nama' : 'Elma', 'kelas' : 'XIIRPL1'},
            {'nama' : 'Farhan', 'kelas' : 'XIIRPL2'},
        ],
        'guru': ''
    }
})
</script>